body {
    font-family: 'Segoe UI', sans-serif;
    margin: 2px auto 20px auto;
    display: block;
}

#appArea {
    margin: 0 auto 0 auto;

    width: 800px;
    height: 600px;
    display: block;
}

span {
    font-style: italic;
}